/* I don't 100% understand the layout/system I'm supposed to use for doing CSS. This might not be best practice */

.userForm {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 0 0 10px 10px;
  max-width: 300px;
  width: 100%;
  margin: auto;
}
.userForm .validation {
  color: red;
  margin: 0;
  font-size: 10px;
}
.loginFormButtons:hover{
  background-color: black;
  color: white;
  cursor: pointer;
}
.registerButton{
  margin: auto;
}
.loginFormButtons {
  transition: background-color 0.5s;
  border: none;
  color: white;
  background-color: #ed1d24;
  width: 150px;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}
.userForm input {
  transition: background-color 0.5s;
  margin: 5px;  
  padding: 5px;
  /* border-radius: 5px; */
  border: none;
  background-color: #1C1C1C;
  color: white;
  text-align: center;
  width: 100%;  
  max-width: 300px;
}
.userForm input:hover {
  background-color: white;
  color: black;
}
.userForm label{
  margin-top: 10px;
  align-self: flex-start;
}
.userForm a {
  align-self: flex-start;
  font-size: 10px;
  color: black;
  text-decoration: underline;
}
.userForm .rememberMeField {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-shrink: 0;
  white-space: nowrap;
  align-items: center;
  font-size: 10px;
}